@model IEnumerable<Repertorio.Models.RepertorioList>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DsFaixa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DsArtista)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CdDificuldade)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DsFaixa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DsArtista)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CdDificuldade)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
